.footer {
  background-color: black;
}

.footer__row {
  justify-content: space-between;
}
.footer__content {
  padding: 20px 0 20px 0;
}

.footer__title {
  font-family: "Roboto";
  font-size: 40px;
  line-height: 36px;
  color: white;
}

.footer__title span {
  display: inline-block;
  transform: rotate(180deg);
  font-family: "Roboto";
}
.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
}

.social__link {
  width: 20px;
  height: 20px;
}
.git {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/icon/github.svg) center center no-repeat;
  background-size: cover;
}

.inst {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/icon/instagram.svg) center center no-repeat;
  background-size: cover;
}

.vk {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/icon/vk.svg) center center no-repeat;
  background-size: cover;
}

.inst,
.vk {
  margin-left: 30px;
}
