.footer {
  background-color: black;
}

.footer__row {
  justify-content: space-between;
}
.footer__content {
  padding: 20px 0 20px 0;
}

.footer__title {
  font-family: "Roboto";
  font-size: 40px;
  line-height: 36px;
  color: white;
}

.footer__title span {
  display: inline-block;
  transform: rotate(180deg);
  font-family: "Roboto";
}
.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
}
