.header {
  padding: 1% 0;
}
.header__content {
  align-items: center;
}

.header__content {
  padding: 10px 0;
}

.logo__column {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.logo__link {
  text-decoration: none;
  color: #000;
}

.logo__title {
  font-size: 50px;
  letter-spacing: 0.5px;
  line-height: 36px;
}

.logo__title span {
  display: inline-block;
  transform: rotate(180deg);
}

.header__menu {
  align-items: center;
}
.menu__list {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.menu__item {
  margin-left: 45px;
}

.menu__link {
  color: #ffffff;
}

.header__social {
  display: flex;
  justify-content: space-between;
}

.social__link {
  width: 40px;
  height: 40px;
}
.git {
  width: 40px;
  height: 40px;
  content: "";
  background: url(../img/icon/github.png) center center no-repeat;
  background-size: cover;
}

.inst {
  width: 40px;
  height: 40px;
  content: "";
  background: url(../img/icon/instagram.svg) center center no-repeat;
  background-size: cover;
}

.vk {
  width: 40px;
  height: 40px;
  content: "";
  background: url(../img/icon/vk.svg) center center no-repeat;
  background-size: cover;
}
